@tailwind base;

@layer base {
  * {
    /* W3C standard just for Firefox */
    scrollbar-width: thin;
  }

  html {
    width: 100%;
    height: 100%;
    @apply text-black;
  }

  html,
  body,
  #root {
    @apply h-full;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  button:focus {
    outline: none;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@tailwind utilities;

